.container {
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-image: url('./assets/bag.gif'); /* Замініть шлях на ваш анімований GIF */
  background-size: cover;
  z-index: -1; /* Переміщаємо фон назад, за контент */
}

.content {
  position: relative;
  z-index: 1; /* Контент розташовується поверх фону */
  text-align: center;
  padding: 50px;
  color: white; /* Колір тексту на ваш смак */
}
